<?xml version="1.0" encoding="UTF-8"?>

<configuration monitorInterval="180">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%5p] [%t] [%c]: %m%n" />
        </Console>
        <RollingFile name="logFile" append="true"
                     fileName="${sys:catalina.home}/logs/app/account.log" filePattern="${sys:catalina.home}/logs/app/account-%d{yyyyMMdd-HH}.log.gz"
                     bufferedIO="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%5p] [%t] [%c]: %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>	
        <Root level="INFO">
            <AppenderRef ref="logFile" />
             <AppenderRef ref="console"/>
        </Root>	
	</Loggers>
</configuration>