<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">


	<!-- 开启aspectj自动注解 -->
    <aop:aspectj-autoproxy proxy-target-class="true" />

    <context:component-scan base-package="com.app.ymsq.*" />
    <context:annotation-config />
    
	<!-- 引入配置文件 -->
	<context:property-placeholder location="classpath*:config/dubbo/dubbo-producer.properties" ignore-unresolvable="true"/>

	<dubbo:application name="${user-service.application}" organization="dubbox" />

	<!-- zookeeper注册中心 -->
	<dubbo:registry address="${user-registry-address}" />
	
	<dubbo:annotation package="com.app.ymsq" />

	<!-- kryo实现序列化 optimizer为序列化接口所在的路径 -->
	<!-- <dubbo:protocol name="dubbo" serialization="kryo" optimizer="com.app.ymsq.util.SerializationOptimizerImpl" port="${user-service.port}"/> -->

	<!-- 声明需要暴露的服务接口 interface属性为service接口全路径，ref属性为该实现类注册ID -->
	<!-- 时间较长，设置为30s,重试一次 -->
	<!-- <dubbo:service interface="com.tc.jxc.api.shop.GoodsAPI" ref="goodsApi"
				   group="student-min" version="1.0.0" timeout="30000" >
		<dubbo:method name="copyGoods" retries="0"></dubbo:method>
	</dubbo:service> -->
	
	<dubbo:service interface="com.app.ymsq.service.UserService" ref="userServiceImpl"
				   group="student-min" version="1.0.0" timeout="30000" />
    <dubbo:service interface="com.app.ymsq.service.StationService" ref="stationServiceImpl"
   				   group="student-min" version="1.0.0" timeout="30000" />
	<dubbo:service interface="com.app.ymsq.service.GoodsService" ref="goodsServiceImpl"
				   group="student-min" version="1.0.0" timeout="30000" />
	<dubbo:service interface="com.app.ymsq.service.CommentService" ref="commentServiceImpl"
				   group="student-min" version="1.0.0" timeout="30000" />
	<dubbo:service interface="com.app.ymsq.service.StationService" ref="stationServiceImpl"
				   group="student-min" version="1.0.0" timeout="30000" />
</beans>